html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

#nprogress .bar {
    height: 4px;
}
.header-height{
    height: 50px;
}

.nav-main-menu{
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav-main-menu li {}
.nav-main-menu li a{
    float: left;
    display: inline-block;
    padding: 10px 12px;
    text-decoration: none;
    color: #313131;
    font-size: 18px;
}
.nav-main-menu li.active{
    font-weight: 600;
}